

        

         
        
    
    <div class="container">

      <div class="blog-header">
        <h1 class="blog-title">The Bootstrap Blog</h1>
        <p class="lead blog-description">The official example template of creating a blog with Bootstrap.</p>
      </div>
      
      <div class="masthead">
        
        <nav>
          <ul class="nav nav-justified">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Projects</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Downloads</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </nav>
      </div>
  <div class="row">
    
    <div class="col-sm-8 blog-main">
      
      <%= render 'shared/blogpreviews' %>

     </div><!-- /.col -->
    
    <%= render 'shared/blogsidebar' %>
   

</div><!-- /.container -->


