<div class="panel panel-default">
  <div class="panel-heading">
    <h2>A little about myself...</h2>
  </div>
  
  <div class="panel-body">
    <p>I have been a software and web developer for InfoGenius, Inc. since I graduated from Shippensburg University in 2009.  As the lead developer for the company, I have been exposed to dozens of different types of development projects for our various brands.  My work has primarily focused on the Alertbot brand, which I have detailed here.</p>
    <p>In my spare time, I also keep busy with development in a few additional fields.  I have created an android app for a game that I was interested in for a time, I've created fun diversions for myself in Unreal Engine 4, I've spent time researching pathfinding algorithms, and I've finally gotten around to creating a website for myself.  I enjoy many different types of programming projects, so I tend to do projects in my spare time that are vastly different from what I do at work just to mix things up.</p>
    <p>Sometime in 2014, I picked up Unreal Engine 4 to see how game development felt for a single person who could only work on side projects in a limited amount of spare time.  I was surprised to see how much I could accomplish with the engine's toolset and instantly decided that I needed to work more with the engine.  I've started multiple projects, but have yet to complete anything.  One of my greatest curses is being a programmer with a huge imagination, but no artistic skills to create what I visualize.  Luckily, over the past year, I've found freelancer artists and musicians that I enjoy working with and I am confident that I'll be able to complete my projects, albeit more slowly than a typical game's development cycle.</p>
    <p>In addition to web and software development, I love to research many different aspects of ancient Roman history.  I'm no historian, but I am a massive fan of this specific era of history, and I am constantly drawn to new documentaries, books, podcasts, and anything else I can find that pertains to Rome.  My other hobbies include running, working out, playing video games, reading, practicing archery, and watching movies.  I may occasionally share my thoughts on books, movies, and other pieces of media in my blog if I feel particularly strongly enough about something.</p>
  </div>
  
</div>