

<a id="riverroad" href="#" title="">image of 1 Maple St.</a>
<script>

    $( "#riverroad" ).tooltip({ content: '<img src="http://icdn.pro/images/fr/a/v/avatar-barbe-brun-homme-utilisateur-icone-9665-128.png" />' });

</script>