


<div id="bloba"  rel="popover" style="margin-left: 300px">This is a paragraph and it is moderate length.  This is a paragraph and it is moderate length.  This is a paragraph and it is moderate length.  This is a paragraph and it is moderate length.  <a href="#" id="blob"  rel="popover" style="margin-left: 300px">hover for popover</a>  This is a paragraph and it is moderate length.  This is a paragraph and it is moderate length.  This is a paragraph and it is moderate length.  This is a paragraph and it is moderate length.  </div>
<script>

   var img = '<img src="https://si0.twimg.com/a/1339639284/images/three_circles/twitter-bird-white-on-blue.png" />';

$("#blob").popover({ content: img, html:true});


</script>