<% if @blogposts.any? %>

    <div class="col-lg-10">
        <% @blogposts.each do |bp| %>
            <%= render bp %>
        <% end %>
    
      
  <%= will_paginate @blogposts %>
  </div>
  
<% end %>