<aside class="col-md-3">
      
  <section>
    <h1>Tags</h1>
    
      <% tag_order Tag.counts do |tag, count| %>
        
          
        <div><%= link_to tag.name, tag_path(tag.name) %> <%= count %></div>
          
        
      <% end %>
  </section>
</aside>