<div class="col-lg-2  blog-sidebar">
      
  <div class="sidebar-module">
    
        <% tag_order Tag.counts do |tag, count| %>
          
            
          <div><%= link_to tag.name, tag_path(tag.name) %> <%= count %></div>
            
          
        <% end %>
      
  </div> <!-- sidebar-module -->
</div> <!-- blog-sidebar -->