<aside class="col-md-4">
      
      
  <h3>Tags</h3>
    <ul>
      <% tag_order Tag.counts do |tag, count| %>
        
          <li>
            <%= link_to tag.name, tag_path(tag.name) %> <%= count %>
          </li>
        
      <% end %>
    </ul>  
</aside>