  <footer class="footer">
  <h3>Find Me</h3>
  <ul>
    <li>a</li>
    <li>b</li>
    <li>c</li>
    <li>d</li>
  </ul>
  <nav>
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "About",   about_path %></li>
    </ul>
  </nav>
</footer>